<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConStr" connectionString="Server=10.0.10.42;Database=Fms;User Id=PBLive; Password=PB123Live;"/>
  </connectionStrings>
  <appSettings>
    <add key="ReplayTime" value="5000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>